%h4
  Éste soy yo David, entiendo que si has llegado hasta aquí ¡es porque me conoces!
%p.h4
  ¿Qué te voy a contar? pues mira, que en septiembre del 18 voy a firmar un papelito y a hacer un paripé, pero luego se viene una celebración de cojones y, ahí amigo mio, ahí quiero compartirlo contigo.
%p.h4
  Quiero compartirlo con las personas que han vivido el desarrollo de ésta relación día a día, hasta lo que se ha convertido hoy. Por ésto es que tengo el placer de invitarte a que me acompañes a dar éste paso.
