%header.navbar.navbar-fixed-top.navbar-inverse
  .h2.container
    Paula & David
    .header-links
      - %w(Inicio Nosotros Lugar Ayuda).each do |site|
        - case site
        - when "Inicio"
          - site_path = boda_home_path
        - when "Nosotros"
          - site_path = boda_who_we_are_path
        - when "Lugar"
          - site_path = boda_place_path
        - when "Ayuda"
          - site_path = boda_help_path

        = link_to site, site_path
  .header_text.pull-right
    - if user_signed_in?
      = current_user.email
      = link_to "Sign out", destroy_user_session_path, method: :delete
    - else
      = link_to "Sign_in", new_user_session_path
